  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .img-card {
    border-radius: 5px 5px 0 0;
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 300px;
  }
  
  .container {
    padding: 2px 16px;
  }